<form class="well" action="/users" method="post">
   <% if @user.errors.any? %>
   <div class="alert alert-error">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

  <%= render :partial => 'share/form/textfield', :locals => { :label => "Name", :name => "name", :type => "text", :message => "Input user name"} %>
  <%= render :partial => 'share/form/textfield', :locals => { :label => "Password", :name => "pwd", :type => "password", :message => "Should contain at least 6 charactors"} %>
  <%= render :partial => 'share/form/textfield', :locals => { :label => "Icon", :name => "img_url", :type => "text", :message => ""} %>
 
  <button type="submit" class="btn">Regist</button>
</form>
