<%= form_for @user, :html => {:multipart => true, :class => "well"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :Name %>
      <%= f.text_field :name %>

      <%= f.label :Password %>
      <%= password_field(:user, :pwd, :class => "") %>

      <%= f.label :Icon %>
      <input type="file" id="image" name="image" />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>