<h1 class="pangolin_h1">
	Home Page
</h1>
<p id="notice"><%= notice %></p>
<header>
	<div class="row-fluid">
		<div class="span2"> </div>
		<div class="span8">
			<div class="span2"><%= image_tag @user.image_url %></div>
			<div class="span10 label label-info" style="background: #98D9F8; margin-top: 50px; width: 60%; text-align: center; font-size: 18px;"><%= @user.name %></div>
		</div>
	</div>
</header>

<nav>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</nav>
