<div class="row-fluid">
  <div class="span2"> </div>
  <div class="span8">
    <br/><br/></br>
    <h1>Welcome to Pangolin</h1>
    <br/></br>
      <% @posts.each do |post| %>
      <div class="row-fluid">
          <div class="span1"><%= post.user.name %> <%= image_tag post.user.image_url %></div>
          <div class="span8"><div class="well"><blockquote><%= post.content %></div></blockquote></div>
          <div class="span1"><%= link_to 'Show', post %></div>
          <div class="span1"><%= link_to 'Edit', edit_post_path(post) %></div>
          <div class="span1"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></div>
      </div>
      <% end %>
    
    <br />

    <%= link_to 'New Post', new_post_path %>
  </div>
</div>