<div class="row-fluid">
  <div class="span2"> </div>
  <div class="span8">
    <section>
      <h1 class="pangolin_h1">Welcome to Pangolin</h1>
      <nav>
        <ul class="nav nav-tabs" id="subscrib_groups">
          <li class="active">
            <a href="#">All User</a>
          </li>
          <% if session[:user_id] %>
            <% @subscribe_groups && @subscribe_groups.each do |group| %>
            <li><a href="<%= group.id %>"><%= group.name %></a></li>
            <% end %>
            <%= link_to '+', "", :style => 'color:white; position: relative; top: 8px; background-color: #BBDCEC; text-decoration: none;', :"data-toggle" => "modal", :"data-target" => "#myModal", :class => "badge badge-info" %>
          <% end %>
        </ul>
      </nav>
        <% @posts.each do |post| %>
        <article class="row-fluid">
            <div class="span1"><%= post.user.name %> <%= image_tag post.user.image_url %></div>
            <div class="span8"><div class="well"><blockquote><%= post.content %></div></blockquote></div>
            <div class="span1"><%= link_to 'Show', post %></div>
            <div class="span1"><%= link_to 'Edit', edit_post_path(post) %></div>
            <div class="span1"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></div>
        </article>
        <% end %>
      <br />
      <nav>
        <%= link_to 'New Post', new_post_path %>
      </nav>
    </section>
  </div>
</div>

<div class="modal hide fade" id="myModal">
  <%= form_tag(subscribe_groups_path, :remote => true, :method => :post, :id => 'add_subscribe_group') do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New Group</h3>
  </div>
  <div class="modal-body">
    <div>
      <%= label_tag "name", "Group Name:", :style => "margin-right: 10px; display: inline;" %>
      <%= text_field_tag "name", "", :required => "required", :id => "new_group_name" %>
    </div>
    <div id="members_selection">
      <%= label_tag "", "Members Selection:" %>
      <% @users.each do |user| %>
        <div>
          <%= user.name %>
          <%= image_tag user.image_url %>
          View:<%= check_box_tag "member_users[]", user.id %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <%= button_tag "Confirm", :type => "submit", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>