<div class="row">
  <div class="span12">
    <br/><br/>
    <h1>Welcome to Pangolin</h1>
    
      <% @posts.each do |post| %>
      <div class="row">
          <div class="span1"><%= post.user %></div>
          <div class="span7"><%= post.content %></div>
          <div class="span1"><%= link_to 'Show', post %></div>
          <div class="span1"><%= link_to 'Edit', edit_post_path(post) %></div>
          <div class="span2"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></div>
      </div>
      <% end %>
    
    <br />

    <%= link_to 'New Post', new_post_path %>
  </div>
</div>