<div class="row-fluid">
	<div class="span2"> </div>
  	<div class="span8" style="padding: 60px">
		<p id="notice"><%= notice %></p>
		<section>
			<article class="row-fluid well">
				<div class="span2">
					<p>
					  <b>User:</b>
					  <%= @post.user.name %>
					  <%= image_tag @post.user.image_url %>
					</p>
				</div>
				<div class="span10">
					<p>
					  <b>Content:</b>
					</p>
					<p>
					  <%= @post.content %>
					</p>
				</div>
			</article>
			<% @post.comments.each do |comment| %>
			<article style="position: relative;" type="comment">
				<div class="row-fluid">
					<div class="span2">
						<p>
						  <b>User:</b>
						  <%= comment.user.name %>
						  <%= image_tag comment.user.image_url %>
						</p>
					</div>
					<div class="span10">
						<p>
						  <b>Content:</b>
						</p>
						<p>
						  <%= comment.content %>
						</p>
					</div>
					<% if session[:user_name] %>
					<div class="btn" style="display: inline; position: absolute; right: 10px; bottom: 10px;">
						Reply
						<%= text_area :subcomment, comment.id, :rows => 3, :style => 'width:90%; display: none;' %>
					</div>
					<% end %>
				</div>
				<details>
					<summary>Replies</summary>
					<% comment.sub_comments.each do |reply| %>
						<dl>
							<dt><%= reply.user.name %></dt>
							<dd><%= reply.content %></dd>
						</dl>
					<% end %>
				</details>
			</article>
			
			<% end %>
		</section>
		<% if session[:user_name] %>
		<section class="row-fluid" style="margin: 20px 0px;">
			<div class="span12">
			<%= form_tag comment_post_path(@post.id), :method => 'post' do %>
				<%= label_tag "comment", "Comment:" %>
				<%= text_area :comment, :content, :rows => 10, :style => 'width: 100%;'%>
				<%= submit_tag "Submit Comment", :class => 'btn' %>
			<% end %>
			</div>
		</section>
		<% end %>
		<nav>
			<%= link_to 'Back', posts_path %>
		</nav>
	</div>
</div>
