<!DOCTYPE html>
<html>
<head>
  <title>Pangolin</title>
  <%= stylesheet_link_tag    "application", "posts", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand" href="/">Pangolin</a>
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li><%= link_to "Index" %></li>
	          <li><%= link_to "Home Page" %></li>
	          <li><%= link_to "Contact Us" %></li>
	          <li><%= link_to "Read Me" %></li>
	        </ul>
	      </div>
	      <span style="float:right; padding: 9px 10px 11px;">
	      	<% if session[:user_name] %>
	      		<%= link_to session[:user_name], login_path(session[:user_name]), method: :delete, confirm: 'Are You Sure To Logout?'%>
	      	<% else %>
	      		<%= link_to 'Login', new_login_path %>
	      		<%= link_to 'Regist', regist_users_path, :style => 'padding:20px;' %>
	      	<% end %>
	      </span>
	    </div>
	  </div>
	</nav>
	<div class="container-fluid">
	  <%= yield %>
	</div>
</body>
</html>
